%screen-view {
  width: 100%;
  min-height: 100vh;
}

html, body, #app {
  @extend %screen-view;
}

@mixin component-screen {
  @extend %screen-view;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;

  @include for-tablet-portrait-up() {
    max-width: 600px;
    margin: 0 auto;
  }
}
