$clear-sky: (
  start: hsl(225, 100%, 36%),
  end: #109bff
);

$font-color: #fff;
$font-contrast-color: #6a7790;
$action-color: #2196f7;

$body-font: 'Quicksand', sans-serif;
$root-font: (
  font-size: 14px,
  line-height: 28px,
  font-family: $body-font,
  letter-spacing: 0.24px
);

$bold-weight: 700;
$medium-weight: 500;

$radius-size: 4px;
