@import './_variables';
@import './_mixins';

.logo {
  color: $font-color;
  margin-top: 1rem;
}

@include for-tablet-portrait-up() {
  .logo {
    margin-top: 2rem;
  }
} 

.logo-link {
  display: block;
  text-align: center; 
  background: no-repeat center/contain url(images/logo.svg);
  text-indent: -1000000px;
  overflow: hidden;
}
