@import '../../styles/_mixins';
@import '../../styles/_variables';

@block screen from "../../styles/screen.block.css";

:scope {
  block-name: Search;
  extends: screen;
  @include component-screen();
}

.header {
  min-height: 33vh;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.statement {
  font-size: 1.25rem;
  color: $font-color;
  text-align: center;
  margin-top: 2rem;
}

.logo-link {
  height: 4rem;
}

.search-form-wrapper {
  position: relative;
}

.loader {
  height: 4rem;
  width: 4rem;
  position: absolute;
  left: calc(50% - 2.25rem);
  top: calc(50% - 2.25rem);
  border-width: .25rem;
}

.results {
  position: relative;
  min-height: 4rem;
}

.results-title {
  font-size: 1.2rem;
  margin: 2rem 0 1rem 0;
  color: $font-color;
}

.result {
  margin-bottom: 1rem;
}

.result-link {
  @include marker-pin();
  display: flex;
  flex-flow: row nowrap;
  background: rgba($font-color, 0.10);
  border-radius: $radius-size;
  padding: 1rem;
  line-height: 1.2rem;
  color: $font-color;
  text-decoration: none;
  margin-bottom: .5rem;
}

.search-term {
  font-weight: $bold-weight;
}

.no-results {
  display: inline-block;
  color: $font-color;
  margin-top: 1rem;
}

.error {
  display: inline-block;
  color: $warning-color;
  margin-top: 1rem;
}

.search-loader {
  height: 4rem;
  width: 4rem;
  position: absolute;
  left: calc(50% - 2.25rem);
  top: calc(50% - 2.25rem);
  border-width: .25rem;
}
