@import '../../styles/_mixins';
@import '../../styles/_variables';

:scope {
  block-name: SearchForm;
}

@include for-tablet-portrait-up() {
  :scope {
    display: flex;
    flex-flow: column nowrap;
  }

  .search-form {
    display: flex;
    flex-flow: row nowrap;
  }
}

.search-term {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: $radius-size;
  font-size: 1.2rem;
  border: 2px solid map-get($clear-sky, end);
  outline: none;
  padding: 1rem 0.5rem;
  color: $font-contrast-color;
  transition: border .25s, opacity .25s;
  font-family: $body-font;
  
  &:focus {
    border: 2px solid map-get($clear-sky, start);
    outline: none;
  }

  &:disabled {
    opacity: .5;
  }
}

.use-location {
  font-size: 1.2rem;
  color: $font-color;
  margin-top: 1rem;
  line-height: 1.5rem;
  transition: opacity .25s;
  outline: none;
  background: transparent;
  border: none;
  text-align: left;

  &:before {
    content: '';
    display: block;
    background: no-repeat center left url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOCAxOCI+PHBhdGggZD0iTTE4IDljMC0uMzM4LS4wMjItLjY3MS0uMDU5LTFIMTYuOTNBNy45OTIgNy45OTIgMCAwIDAgMTAgMS4wNjlWLjA1OUM5LjY3MS4wMjIgOS4zMzggMCA5IDBzLS42NzEuMDIyLTEgLjA1OVYxLjA3QTcuOTkyIDcuOTkyIDAgMCAwIDEuMDY5IDhILjA1OUMuMDIyIDguMzI5IDAgOC42NjIgMCA5cy4wMjIuNjcxLjA1OSAxSDEuMDdBNy45OTIgNy45OTIgMCAwIDAgOCAxNi45MzF2MS4wMTFjLjMyOS4wMzYuNjYyLjA1OCAxIC4wNThzLjY3MS0uMDIyIDEtLjA1OVYxNi45M0E3Ljk5NCA3Ljk5NCAwIDAgMCAxNi45MzEgMTBoMS4wMTFBOS4xNSA5LjE1IDAgMCAwIDE4IDl6bS04IDUuOTFWMTRhMSAxIDAgMSAwLTIgMHYuOTFhNS45OTMgNS45OTMgMCAwIDEtNC45MDktNC45MDlMNCAxMGExIDEgMCAxIDAgMC0yaC0uOTFBNS45OTkgNS45OTkgMCAwIDEgOCAzLjA5VjRhMSAxIDAgMCAwIDIgMHYtLjkxQTUuOTk0IDUuOTk0IDAgMCAxIDE0LjkxIDhIMTRhMSAxIDAgMSAwIDAgMmwuOTEuMDAxQTUuOTk0IDUuOTk0IDAgMCAxIDEwIDE0LjkxeiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==);
    width: 1.5rem;
    height: 1.5rem;
    float: left;
    margin-right: 0.5rem;
  }

  &:disabled {
    opacity: .5;
  }
}

.submit {
  margin-top: 1rem;
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  box-sizing: border-box;
  text-align: center;
  background: rgba($action-color, 0.9);
  border-radius: $radius-size;
  color: $font-color;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: opacity .25s;
  font-family: $body-font;

  &:disabled {
    opacity: .5;
  }
}

@include for-tablet-portrait-up() {
  .submit {
    width: 15rem;
    margin: 0 0 0 1rem;
  }
}

.Loading[state|loading] {
  height: 48px;
  width: 80px;
  position: absolute;
  left: calc(50% - 40px);
  margin: auto 0;
}
