<li class="location-route__measurement">
  <strong class="location-route__measurement__label">
    <span class="location-route__measurement__label__base">
      {{paramName.base}}
    </span>
    <sup class="location-route__measurement__label__sup">
      {{paramName.sup}}
    </sup>
  </strong>
  <span class="location-route__measurement__value">
    <span class="location-route__measurement__value__value">{{@value}}</span>
    &nbsp;
    <span class="location-route__measurement__value__unit">
      {{#if isPPM}}
        ppm
      {{else}}
        &#181;g/m<sup>3</sup>
      {{/if}}
    </span>
  </span>
</li>
