<li>
  <strong class="label" data-test-measurement-label="">
    <span data-test-measurement-label-base="">
      {{paramName.base}}
    </span>
    <sup class="label-sup" data-test-measurement-label-sup="">
      {{paramName.sup}}
    </sup>
  </strong>
  <span>
    <span data-test-measurement-value="">
      {{@value}}
    </span>
    &nbsp;
    <span data-test-measurement-unit="">
      {{#if isPPM}}
        ppm
      {{else}}
        &#181;g/m<sup>3</sup>
      {{/if}}
    </span>
  </span>
</li>
