<li class="location-route__measurement">
  <strong class="location-route__measurement__label" data-test-measurement-label="">
    <span class="location-route__measurement__label__base" data-test-measurement-label-base="">
      {{paramName.base}}
    </span>
    <sup class="location-route__measurement__label__sup" data-test-measurement-label-sup="">
      {{paramName.sup}}
    </sup>
  </strong>
  <span class="location-route__measurement__value">
    <span data-test-measurement-value="">
      {{@value}}
    </span>
    &nbsp;
    <span data-test-measurement-unit="">
      {{#if isPPM}}
        ppm
      {{else}}
        &#181;g/m<sup>3</sup>
      {{/if}}
    </span>
  </span>
</li>
