@import '../../styles/_mixins';
@import '../../styles/_variables';

:scope {
  block-name: Location;
  @include component-screen();
}

.location-data {
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  justify-content: space-between;
}

.title {
  @include marker-pin(1.5rem, 1.5rem);
  font-size: 1.5em;
  text-align: center;
  color: $font-color;
  margin: 2rem 0 1rem 0;
  
  @include for-tablet-portrait-up() {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

.updated-at {
  text-align: center;
  color: $font-color;
  opacity: 0.6;
}

.logo {
  color: $font-color;
  margin-top: 1rem;

  @include for-tablet-portrait-up() {
    margin-top: 2rem;
  }
}

.logo-link {
  display: block;
  text-align: center; 
  background: no-repeat center/contain url(images/logo.svg);
  height: 2rem;
  text-indent: -1000000px;
  overflow: hidden;

  @include for-tablet-portrait-up() {
    height: 2.5rem;
  }
}

.indicator {
  margin: 2rem auto;
  background: rgba(#fff, 0.1);
  width: 10rem;
  height: 10rem;
  padding: 2rem;
  border-radius: 8rem;
}

.indicator-content {
  width: 10rem;
  height: 10rem;
  border-radius: 8rem;
  background: rgba($font-color, 0.15);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  color: $font-color;
}

.indicator-index {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  display: block;
  font-weight: $bold-weight;
}

.measurements-wrapper {
  padding: 2rem 0;
  flex-shrink: 0;

  @include for-tablet-portrait-up() {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

.measurements {
  &:nth-child(1) {
    border-bottom: 1px solid rgba($font-color, 0.4);
  }

  @include for-tablet-portrait-up() {
    width: calc(50% - 2rem);
    box-sizing: border-box;

    &:nth-child(1) {
      border-bottom: none;
    }
  }
}
