{{#if notFound}}
  <em>We couldn't load the requested location.</em>
{{else}}
  <div class="location-route" data-test-location>
    <h1 class="location-route__logo">
      <a href="/" data-navigo>
        Breethe
      </a>
    </h1>
    <header>
      <h1 class="location-route__title">
        Ulrike-Günther-Platz 145, 18410 Guben
      </h1>
      <p class="location-route__updated">
        Last update: 10:30 AM | 14-04-2018
      </p>
    </header>
    <div class="location-route__indicator">
      <div class="location-route__indicator__content">
        <strong>
          Good
        </strong>
        Air Quality
      </div>
    </div>
    <div class="location-route__measurements-wrapper">
      <ul class="location-route__measurements">
        {{#each measurementLists.first key="@index" as |measurement|}}
          <MeasurementRow @measurement={{measurement}} />
        {{/each}}
      </ul>
      <ul class="location-route__measurements">
        {{#each measurementLists.second key="@id" as |measurement|}}
          <MeasurementRow @measurement={{measurement}} />
        {{/each}}
      </ul>
    </div>
  </div>
{{/if}}
