<div>
  <a 
    href="/search-by-coordinates"
    class="use-location"
    disabled={{@isDisabled}}
    type="button"
    onclick={{action searchByLocation}}
    data-test-search-near
  >
    Show nearby locations
  </a>
</div>
