<div data-test-effects-background>
  <div>
    {{#each particles.particles key='@index' as |particle index|}}
      <div></div>
    {{/each}}
  </div>
  
  {{#if particles.extraParticles.length}}
    <div>
      {{#each particles.extraParticles key='@index' as |particle index|}}
        <div></div>
      {{/each}}
    </div>
  {{/if}}
</div>
