<div data-test-effects-background>
  <div class="background">
    {{#each particles.particles key='@index' as |particle index|}}
      <div class="particle"></div>
    {{/each}}
  </div>
  
  {{#if particles.extraParticles.length}}
    <div class="background">
      {{#each particles.extraParticles key='@index' as |particle index|}}
        <div class="extra-particle"></div>
      {{/each}}
    </div>
  {{/if}}
</div>
