<div class="home-route">
  <header class="home-route__header">
    <h1 class="home-route__logo">
      Breethe
    </h1>
  </header>
  <SearchForm @onSearch={{action goToRoute}} />

  <div class="home-route__recent">
    <h2 class="home-route__recent__title">
      Recent Locations
    </h2>
    <ul class="home-route__recent__list">
      <li class="home-route__recent__item">
        <a href="#">
          Teglhomsgade 58 2450 København
        </a> 
      </li>
      <li class="home-route__recent__item">
        <a href="#">
          Ulrich-Schreier St 5020 Salzburg
        </a>
      </li>
    </ul>
  </div>
</div>
