@import '../../styles/_mixins';
@import '../../styles/_variables';

:scope {
  block-name: PpmClient;
  position: relative;
  @include screen-view();

  font-size: map-get($root-font, font-size);
  line-height: map-get($root-font, line-height);
  font-family: map-get($root-font, font-family);
  letter-spacing: map-get($root-font, letter-spacing);
}

.offline-warning {
  color: $warning-color;
  padding: .5rem;
  text-align: center;
  background: rgba($font-color, 0.10);
  position: fixed;
  width: 100%;
}

.background {
  @include background();
}
