<h1>{{theCurrentView.componentName}}</h1>
{{#if theCurrentView.componentName}}
  {{component theCurrentView.componentName
      id=theCurrentView.id
      name=theCurrentView.name
      store=store
  }}
{{/if}}