<div class="ppm-client">
  {{#if theCurrentView.componentName}}
    {{component theCurrentView.componentName
        param=theCurrentView.param
        name=theCurrentView.name
        store=store
        transitionTo=(action loadFromUrl)
        updateParticles=(action updateParticles)
    }}
  {{/if}}

  <div class="ppm-background">
    <div class="ppm-background__overgradient"></div>
    <ParticlesBackground @index=50 />
  </div>
</div>
