@import '../../styles/_variables';
@import '../../styles/_mixins';

:scope {
  block-name: FogBackground;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  filter: blur(2px) grayscale(0.2) saturate(1.2) sepia(0.2);
  z-index: -1;
  overflow: hidden;
  background: linear-gradient(map-get($clear-sky, start), map-get($clear-sky, end) 100vH, map-get($clear-sky, end));
}

.intentisty {
  width: 100%;
  height: 100%;
  transition: all .5s ease-in;
}

%fog {
  height: 100%;
  position: absolute;
  width: 200%;
  will-change: transform;
}

.image-01, .image-02 {
  float: left;
  height: 100%;
  width: 50%;
}

/*
 * Based on: https://codepen.io/Ravyre/pen/gXawyY
 */

@keyframes foglayer_01_opacity {
  0% { opacity: .1; }
  22% { opacity: .5; }
  40% { opacity: .28; }
  58% { opacity: .4; }
  80% { opacity: .16; }
  100% { opacity: .1; }
}

@keyframes foglayer_02_opacity {
  0% { opacity: .5; }
  25% { opacity: .4; }
  50% { opacity: .3; }
  80% { opacity: .2; }
  100% { opacity: .5; }
}

@keyframes foglayer_03_opacity {
  0% { opacity: 1; }
  27% { opacity: .4; }
  52% { opacity: .5; }
  68% { opacity: .4; }
  100% { opacity: .7; }
}

@keyframes foglayer_moveme {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100vw, 0);
  }
}

.image-01 {
  background: url('images/fog1.png') top center/cover no-repeat transparent;
  background-blend-mode: multiply;
}

.image-02 {
  background: url('images/fog2.png') top center/cover no-repeat transparent;
  background-blend-mode: multiply;
}

.fog-01 {
  @extend %fog;
  animation: foglayer_01_opacity 7s linear infinite, foglayer_moveme 20s linear infinite;
}

.fog-02 {
  @extend %fog;
  animation: foglayer_02_opacity 10s linear infinite, foglayer_moveme 30s linear infinite;
}

.fog-03 {
  @extend %fog;
  animation: foglayer_03_opacity 13s linear infinite, foglayer_moveme 35s linear -12s infinite;
}
