@import '../../styles/_variables';
@import '../../styles/_mixins';

:scope {
  block-name: FogBackground;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  background: linear-gradient(map-get($clear-sky, start), map-get($clear-sky, end) 100vH, map-get($clear-sky, end));
}
