<div data-test-fog-background>
  <div class="intentisty-index" style={{opacityStyle}}>
    <div class="fog-01">
      <div class="image-01" />
      <div class="image-01" />
    </div>
    <div class="fog-02">
      <div class="image-02" />
      <div class="image-02" />
    </div>
    <div class="fog-03">
      <div class="image-01" />
      <div class="image-01" />
    </div>
  </div>
</div>
