.location-route {
  @include component-screen();
  justify-content: space-between;

  &__title {
    font-size: 1.5em;
    text-align: center;
    color: $font-color;
    margin: 2rem 0 1rem 0;

    @include for-tablet-portrait-up() {
      margin-left: 4rem;
      margin-right: 4rem;
    }

    &:before {
      content: '';
      display: block;
      background: no-repeat center url(images/map-marker.svg);
      width: 1.5rem;
      height: 1.5rem;
      float: left;
      margin-right: 0.5rem;
    }
  }

  &__updated {
    text-align: center;
    color: $font-color;
    opacity: 0.6;
  }

  &__indicator {
    margin: 2rem auto;
    background: rgba(#fff, 0.2);
    width: 10rem;
    height: 10rem;
    padding: 2rem;
    border-radius: 8rem;

    &__content {
      width: 10rem;
      height: 10rem;
      border-radius: 8rem;
      background: rgba($font-color, 0.2);
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      color: $font-color;
    
      strong {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        display: block;
        font-weight: $bold-weight;
      }
    }
  }

  &__measurements-wrapper {
    padding: 2rem 0;
    @include for-tablet-portrait-up() {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
  }

  &__measurements {
    @include for-tablet-portrait-up() {
      width: calc(50% - 1rem);
      box-sizing: border-box;
      &:nth-child(n+1) {
        .location-route__measurement:first-child {
          border-top: none;
        }
      }
    }
    &:first-child {
      .location-route__measurement:first-child {
        border-top: none;
      }
    }
  }

  &__measurement {
    color: $font-color;
    font-size: 0.9em;
    border-top: 1px solid rgba($font-color, 0.4);
    padding: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    opacity: 0.9;
  
    &__label {
      font-weight: $medium-weight;
    }
  }
}
