.search-form {
  &__input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: $radius-size;
    font-size: 1.2rem;
    border: 2px solid map-get($clear-sky, end);
    outline: none;
    padding: 1rem 0.5rem;
    color: $font-contrast-color;
    transition: border 100ms ease-in-out;

    &:focus {
      border: 2px solid map-get($clear-sky, start);
      outline: none;
    }
  }
  &__button {
    margin-top: 1rem;
    display: block;
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    box-sizing: border-box;
    text-align: center;
    background: rgba($action-color, 0.9);
    border-radius: $radius-size;
    color: $font-color;
    border: none;
    outline: none;
    cursor: pointer;
  }
}